@{
    ViewBag.Title = "About Us";
}
<div class="indexpages">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>We are your local community connection for high quality foods, friendly service and great prices.</p>


    <p>
        Family owned since 1973, we offer a convenient one-stop shop where you can find everything you need from the everyday essentials to specialty items from around the world.
    </p>

    <p>
        Our friendly staff is here to help you find exactly what you're looking for and to offer you assistance regarding all the products we carry.
    </p>

    <p>
        We take pride in our community and appreciate your business. We know that you have many options for food purchases and want you to know that we're working hard each day to continue to earn your business.
    </p>

    <p>
        By shopping at our store each week, you accomplish the following ten items:
    </p>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;1) You keep your dollars in our local economy.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;2) You help create local jobs.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;3) You nurture our local community.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;4) You help the environment by buying locally.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;5) You invest in local ownership.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;6) You create more choice in shopping.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;7) You utilize the many years of our experience and expertise in food.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;8) You embrace what makes us different from our larger, national competitors.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;9) You make our store a destination --- and we appreciate it!
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;10) Every week you will find hundreds of specials throughout our store.
    </p>

    <p>
        If you'd like to receive our weekly ad via email, you can do so by providing us with your email address on our Subscribe Page.
    </p>
</div>