@{
    ViewBag.Title = "Contact";
}
<div class="indexpages">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        JW's Foods<br />
        Kalona, Iowa 52247<br />
        <abbr title="Phone">P:</abbr>
        112-334-5569<br />
        <abbr title="Phone">P:</abbr>
        112-334-8854<br /><br />
        <p>Summer Hours: 7am-10pm</p>
        <p>Winter Hours: 7am-9pm</p><br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>